<h1>Your Teams</h1>

<% @teams.each do |t| %>
  <%= t.name %> -- <%= t.roster_size %> players
  <br>
  <br>
  <a href="/teams/<%= t.id %>/edit">Edit This Team</a>
  <br>
  <br>
  <a href="/teams/new">Create A New Team</a>
  <br><br>
<% end %>

<br>
<br>
<br>
<a href="/players/new">Create A New Player</a>
<a href="/logout">Logout</a>