<h1>Create A Player</h1>

<form action="/players/new" method="POST">
  <p>Name: <input type="text" name="name"></p>
  <p>Number: <input type="text" name="number"></p>
  <p>Position: <input type="text" name="position"></p>
  <p>What Team Does This Player Belong To?</p>
    <% @teams.each do |t| %>
    <input type="checkbox" name="id" value="<%= t.id %>"><%= t.name %></input>
    <% end %>
  <input type="submit" value="Create Player">
</form>