<h1>Create A Player</h1>

<form action="/players/new" method="POST">
  <p>Name: <input type="text" name="name"></p>
  <p>Number: <input type="text" name="number"></p>
  <p>Position: <input type="text" name="position"></p>
  <input type="submit" value="Create Player">
</form>